body {
  width: 100%;
  height: 100vh;
}

.App .App__top {
  width: 100%;
  height: 10vh;

  background-color: aquamarine;
}

.App .App__top__col1 {
  width: 200px;
  height: 10vh;

  background-color: cornsilk;
}

.App .App__main {
  width: 100%;
  height: 80vh;

  background-color: bisque;
}

.App .App__bottom {
  width: 100%;
  height: 10vh;

  background-color: cornflowerblue;
}
